[Unit]
Description=Intel iGPU node exporter service. Add flags -r refresh_time -p listening_port if needed
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/bin/intel_igpu_exporter.py

[Install]
WantedBy=multi-user.target